{% extends 'mainapp/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>New motors</h1>
            {% for el in motors %}
                <div class="alert alert-warning" id="catalog">
                    <h3>{{ el.title }}</h3>
                    <p> {{ el.model }}</p>
                    <p>_ _ _ _ _ _</p>
                    <a href="{% url 'inf-catalog' el.id %}" class="btn btn-warning">More</a>
                </div>
            {% endfor %}

    </div>

{% endblock %}