{% extends 'mainapp/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>News</h1>
        {% if news %}{# Проверка наличии новостей #}
            {% for el in news %}
                <div class="alert alert-warning">
                    {% filter upper %}
                    <h3>{{ el.title }}</h3>
                    {% endfilter %}
                    <p> {{ el.anons }}</p>
                    <p>{{ el.full_text }}</p>
                    <hr>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Read all</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No news</p>
        {% endif %}
    </div>
{% endblock %}
{% block add_new %}
    <button class="btn btn-warning"><a href="{% url 'add_new' %}" >Add new</a></button>
{% endblock %}