{% extends 'mainapp/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        {% filter upper %}
        <p>Micro suite about me and my travels</p>
        {% endfilter %}
        <a href="{% url 'about' %}"><button class="btn btn-warning">To the page "ABOUT"</button></a>
    </div>
    <div class="DateOfTravel">
        <h2>Where I rode?</h2>
        <p>{% for el in countries %}
            {{ el }}<br>
            {% endfor %}</p>
    </div>
{% endblock %}